/* Write your CSS here */
.card-container {
  color: white;
  background-color: transparent;
  width: 30vw;
  height: 23vh;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  margin: 15px;
  display:flex;
  padding:10px;
  border-width:1px;
}
.team-logo{
  height:15vh;
  margin-right:10px;
}
